@model MedicalDb.Models.visa_category

@{
    ViewBag.Title = "Delete_Visa_Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Visa Category</h2>


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Visa_Category")
        </div>
    }
</div>
